
<div class="row">
    <div class="navbar navbar-static-top">
        <div class="navbar-inner">
            <a class="brand" href="#">ASP .Net MVC</a>
            <ul>
                <li class="active"><a href="#">Home</a></li>
                <li><a href=""></a></li>
            </ul>
        </div>
    </div>
</div>